{{> head
title="Disclaimer and Privacy Policy"
description="useElven is a documentation website for the Open Source tooling around MultiversX blockchain."
ogTitle="useElven - Disclaimer and Privacy Policy"
ogDescription="useElven is a documentation website for the Open Source tooling around MultiversX blockchain."
ogUrl="https://www.useElven.com/about.html"
twitterTitle="useElven - Disclaimer and Privacy Policy"
twitterDescription="useElven is a documentation website for the Open Source tooling around MultiversX blockchain."
twitterUrl="https://www.useElven.com/about.html"
}}

<div class="container info-page">
  <h1>About useElven</h1>

  <p>The useElven is a toolse with React hooks for MultiversX dApp frontends.</p>

  <p>useElven is a wrapper over the <a
      href="https://docs.multiversx.com/sdk-and-tools/sdk-js/" class="common-link" target="_blank"
      rel="noopener noreferrer">JS SDK</a> libraries. Prepared as a plug-n-play version
    that can handle the most common and simple use cases in React-based apps.</p>

  <p>You can read more in the <a href="/docs/getting-started.html" class="common-link" target="_blank"
      rel="noopener noreferrer">Get started</a> section.</p>

  <h1>About the maintainer</h1>

  <p>I'm a Typescript/JavaScript developer, but I also have some experience in writing
    smart contracts in Rust.</p>

  <p>I've built a couple of tools for the MultiversX ecosystem. Besides useElven they are for example: <a class="common-link"
      href="https://www.elven.tools" target="_blank" rel="noopener noreferrer">Elven Tools</a>, <a class="common-link"
      href="https://github.com/xdevguild/buildo-begins" target="_blank" rel="noopener noreferrer">Buildo
      Begins</a>, <a class="common-link" href="https://github.com/elven-js/elven.js" target="_blank"
      rel="noopener noreferrer">Elven.js</a>.</p>

  <p>I'm also one of a couple of people behind the <a href="https://github.com/xdevguild" target="_blank"
      rel="noopener noreferrer" class="common-link">xDevGuild</a> Check it out! A lot of awesome resources for
    developers.</p>

  <h1>Disclaimer</h1>

  <p>The website and the tools which it promotes are shared as they are. There are no guarantees that everything works
    as it should. Use at your own risk, only when you know what you are doing!</p>

  <p>I will not be liable to You or anyone else for any decision made or action taken in reliance on the information
    given by the Service or for any consequential, special or similar damages, even if advised of the possibility of
    such damages.</p>

  <h1>Privacy Policy</h1>

  <p>The website doesn't track or collect any users' data. I don't use analytics tools.</p>

  <h1>Contact me</h1>

  <ul>
    <li><a class="common-link" href="https://www.julian.io">www.julian.io</a></li>
    <li><a class="common-link" href="https://twitter.com/JulianCwirko">Twitter</a></li>
    <li>julian.cwirko@gmail.com</li>
  </ul>

  <h1>Support:</h1>

  <ul>
    <li>Please share all the tools wherever you can! ⚡</li>
    <li>If you want you can support me with $eGld etc. The herotag: <strong>elventools.elrond</strong></li>
  </ul>
</div>

{{> footer}}