{{> head
title="React hooks for MultiversX blockchain"
description="A set of tools for React-based apps using MultiversX JS SDK."
ogTitle="useElven - React hooks for MultiversX blockchain"
ogDescription="A set of tools for React-based apps using MultiversX JS SDK."
ogUrl="https://www.useElven.com"
twitterTitle="useElven - React hooks for MultiversX blockchain"
twitterDescription="A set of tools for React-based apps using MultiversX JS SDK."
twitterUrl="https://www.useElven.com"
}}

<div class="container">
  <div class="homepage-lead">
    <h1 class="homepage-lead-subtitle">
      React hooks for <a href="https://www.multiversx.com" target="_blank" rel="noopener noreferrer">MultiversX</a>
      blockchain. A set of tools for React-based apps using <a href="https://docs.multiversx.com/sdk-and-tools/sdk-js/"
        target="_blank" rel="noopener noreferrer">JS SDK</a>. Integrates well with Next.js and Vite + React projects.
    </h1>
    <div class="homepage-slogan">Basic React blocks<span class="homepage-lead-accent">!</span></div>
    <div class="homepage-docs-button-section">
      <a href="/docs/getting-started.html">Docs</a>
      <a class="github" href="https://github.com/useElven/core" target="_blank"
        rel="noopener noreferrer">GitHub</a>
    </div>
  </div>
  <div class="homepage-slogan secondary">Examples of usage<span class="homepage-lead-accent">:</span></div>
  <div class="demo-tiles smaller">
    <a class="demo-tile" href="https://github.com/xdevguild/nextjs-dapp-template" target="blank">
      <span class="link-wrapper">
        <img src="/assets/images/nextjs.svg" alt="Next.js Dapp Template" class="wider" />
        <span class="text">Fully featured NextJs/React dApp template for MultiversX blockchain</span>
      </span>
    </a>
    <a class="demo-tile" href="https://github.com/useelven/react-vite" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <img src="/assets/images/vitejs.svg" alt="React + Vite example" />
        <span class="text">React + Vite example with simple demo operations.</span>
      </span>
    </a>
  </div>
  <div class="homepage-slogan secondary">Other tools<span class="homepage-lead-accent">:</span></div>
  <div class="demo-tiles last-tiles-wrapper">
    <a class="demo-tile" href="https://www.elven.tools" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <span class="text bigger">Elven Tools</span>
        <span class="text">PFP NFTs on MultiversX - complete toolset: Smart Contract, CLI, dApp</span>
      </span>
    </a>
    <a class="demo-tile" href="https://github.com/xdevguild/buildo-begins" target="blank" rel="noopener noreferrer">
      <span class="link-wrapper">
        <span class="text bigger">Buildo Begins</span>
        <span class="text">CLI for MultiversX blockchain interactions</span>
      </span>
    </a>
    <a class="demo-tile" href="https://www.elvenjs.com" target="blank"
      rel="noopener noreferrer">
      <span class="link-wrapper">
        <span class="text bigger">Elven.js</span>
        <span class="text">Compact browser library for interacting with the MultiversX blockchain and smart contracts.</span>
      </span>
    </a>
  </div>
</div>

{{> footer}}