<div class='docs-sidebar-left' data-js-docs-sidebar-left>
  <div class="docs-sidebar-left-header">Intro</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='intro'
  }}
  <div class="docs-sidebar-left-header">Links</div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://multiversx.com/builders-hub" target="_blank" rel="noopener noreferrer" rel=""
        class="docs-articles-list-out-link"><i class="gg-link"></i>MultiversX Builders Hub</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://multiversx.com/builders/build-your-first-multiversx-dapp-in-30-minutes" target="_blank"
        rel="noopener noreferrer" rel="" class="docs-articles-list-out-link"><i class="gg-link"></i>MultiversX
        tutorials</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://multiversx.com/builders/builder-tools-resources" target="_blank" rel="noopener noreferrer" rel=""
        class="docs-articles-list-out-link"><i class="gg-link"></i>MultiversX Tools and Resources</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://docs.multiversx.com" target="_blank" rel="noopener noreferrer" rel=""
        class="docs-articles-list-out-link"><i class="gg-link"></i>MultiversX Docs</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://github.com/xdevguild" target="_blank" rel="noopener noreferrer" rel=""
        class="docs-articles-list-out-link"><i class="gg-link"></i>xDevGuild</a>
    </div>
  </div>
</div>
<div class="docs-sidebar-left-menu-icon" data-js-docs-sidebar-left-menu-icon>
  <i class="gg-details-more"></i>
</div>